pkgbase = ditana-keyring
	pkgdesc = Ditana GNU/Linux PGP keyring
	pkgver = 20250410
	pkgrel = 1
	url = https://ditana.org
	install = ditana-keyring.install
	arch = any
	license = GPL-3.0-or-later
	source = ditana.gpg
	source = ditana-trusted
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = ditana-keyring
